<!--Start of second nav bar-->
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link"  routerLink="#" >All Products</a>
            </li>
            <div >
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Laptops</a>
              </li>
            </div>
            <div >
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Mobile Phones</a>
              </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Top Deals</a>
            </li>
          </ul>
        </div>
      </nav> 
</div>
<div>
  <button (click)='check()'>Check</button>
</div>