<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover"><a  routerLink="/user/signup" >Sign Up</a> </h2>
  
      <!-- Login Form -->
      <form #ref=ngForm (ngSubmit)=login(ref.value);ref.reset()>
        <input type="text" id="login" class="fadeIn first" name="username" placeholder="login" ngModel>
        <input type="password" id="password" class="fadeIn second" name="password" placeholder="password" ngModel>
        <button type="submit" class="fadeIn third btn btn-primary mb-1">Sign in</button>
      </form>
  
      <!-- forgot Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>