<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover"><a  routerLink="/user/signup" >Sign Up</a> </h2>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn first" name="login" placeholder="login">
        <input type="password" id="password" class="fadeIn second" name="login" placeholder="password">
        <input type="submit" class="fadeIn third" value="Log In">
      </form>
  
      <!-- forgot Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>