<div class="display-4 text-center" style="color: darkred;"><b>About us</b></div>


<div class="jumbotron container" >
    <div class="row">
        
        <div class="col-sm-6">
            <b style="font-size: 28px;color: indigo;">ELECTRONICA</b><br>
             <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perspiciatis architecto dolores. Minus totam ea animi repudiandae illo reiciendis eligendi inventore! Dolorum impedit qui eaque maxime corporis? Dolore, reprehenderit perferendis.
             </p>
             <br>
             <br>
             <br>
            <p style="font-size: 28px;color: indigo;"><b>Contact Us</b></p>
           
            <pre>
Tel     : 8555047106 
Email   : admin-office@electronica.in  
Address : H.no- 99-5-98/1A, opposite cyber towers,
          hitech city, hyderabad, india.
            </pre>

        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.2807917974164!2d78.38460531418977!3d17.541813102951718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8e0ab28e0975%3A0x7b048b2858fdee94!2sVallurupalli%20Nageswara%20Rao%20Vignana%20Jyothi%20Institute%20of%20Engineering%20%26Technology!5e0!3m2!1sen!2sin!4v1577417550583!5m2!1sen!2sin" height=400px width=100% frameborder="1" style="border:0;" allowfullscreen="" alt="Loading..."></iframe>
        </div>
         
    </div>
</div> 