<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Select Product
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Mobile Phone</a>
      <a class="dropdown-item" href="#">Laptop</a>
      <a class="dropdown-item" href="#">Smart Watch</a>
    </div>
</div>

<div class="container">
    <div class="text-primary display-3 text-center">Add a product</div>

       <form  submit="" action="" class="form-group">
               <div class="form-group">
                   <label for="productTitle">Title:</label>
                   <input class="form-control" type="text" name="productTitle" id="productTitle">
               </div> 

               <div class="form-group">
                   <label for="Price">Price:</label>
                   <input class="form-control" type="text" name="Price" id="Price">
               </div>

               <div class="form-group">
                   <label for="Description">Description:</label>
                   <textarea class="form-control" name="Description" id="" cols="30" rows="10"></textarea>
               </div>

               <div class="form-group">
                   
                   <label for="Category" > Select Category:</label>
                       <select id="Category" class="form-control">
                           <option value="phone">Phone</option>
                           <option value="laptop">Laptop</option>
                           <option value="smartWatch">Smart Watch</option>
                       </select>                 
               </div>
               <div class="form-group">
                   <label for="photo">Upload Photo :  </label>
                   <input type="file" name="" id="photo">
               </div>

       </form>
</div>