<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/home">ƎLECTRÓNICA</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <div *ngIf=!ls.status>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin">Sign In</a>
        </li>
      </div>
      <div *ngIf=ls.status>
        <div class="dropdown">
          <li class="nav-link">Account</li>
          <div class="dropdown-content">
            <a routerLink="/user/account">Account</a>
            <a routerLink="/signin">Sign Out</a>
          </div>
        </div> 
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">ABOUT US</a>
      </li>
    </ul>
  </div>
</nav> 
<router-outlet></router-outlet>
