<!--Start of second nav bar-->
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link"  routerLink="#" >All Products</a>
            </li>
            <div >
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Laptops</a>
              </li>
            </div>
            <div >
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Mobile Phones</a>
              </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Top Deals</a>
            </li>
          </ul>
        </div>
      </nav> 
</div>
<!-- End of second nav bar-->

<!-- Start of carousel -->
<div id="demo" class="carousel slide m-2" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner carouselbg">
      <div class="carousel-item active">
          <div style="text-align: center;">
        <img  src="https://assets.croma.com/medias/sys_master/root/h99/hf7/8901375000606/HP-TV-11-March2.webp" alt="Surface">
    </div>
      </div>
      <div class="carousel-item" style="text-align: center;">
      <a><img src="https://assets.croma.com/medias/sys_master/root/h35/h5a/8900799234078/HP-Gameing-Gadgets-06-March.webp" alt="Surface"></a>
      </div>
      <div class="carousel-item" style="text-align: center;">
        <img  src="https://assets.croma.com/medias/sys_master/root/hc3/h2f/8900511268894/HP-Music-Goes-With-2-5-March.webp" alt="Surface">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" style="background-color: rgba(151, 140, 140, 0);" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
<!-- End of carousel -->



<!--Start of Latest launches-->
<!--Card deck inside body of another card-->
  <div class="card m-2">
    <div class="card-header">
        <div class='row'>
          <div class='col-6 LatestLaunches'>
            Latest Launches
          </div>
          <div class='col-3'>

          </div>
          <div class='col-3 viewall'>
            <button class="btn btn-primary">View All</button>
          </div>
        </div>
    </div>
    <div class="card-body"> 
        <div class="card-deck">
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/k1fbmvk0/mobile/4/f/f/mi-redmi-8-mzb8251in-original-imafhyacmxaefxgw.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
                  Redmi 8(64 GB) <br>
                  &#8377;18,999
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/k0y6cnk0/mobile/p/4/x/mi-redmi-8a-mzb8459in-original-imafkmg2mza82yyu.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
                Redmi 8A <br>
                &#8377;16,999
             </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/k0tw13k0/mobile/h/a/f/nokia-7-2-ta-1193-ds-original-imafkjay3kuxhccp.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
               Nokia 7.2<br>
                &#8377;14,599
            </div>
            </div>
            <div class="card ">
              <div class="card-body text-center">
                <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/jw5a2kw0/mobile/h/n/h/black-shark-2-skw-h0-original-imafgw4hdemjsas2.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
                Black Shark 2(64 GB) <br>
                &#8377;7,999
            </div>
            </div>
             <div class="card">
                <div class="card">
                    <div class="card-body text-center">
                      <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/jzd0qkw0/mobile/s/h/v/motorola-motorola-one-action-na-original-imafjeba94knawvz.jpeg?q=70" alt=""></p>
                    </div>
                    <div class="card-footer">
                        Motarolla(64 GB) <br>
                        &#8377;9,999
                    </div>
                  </div>
          </div>
    </div>
   
  </div>
  <!--End of Latest launches-->

  

  <!--Start of Most Popular Products-->
  <div class="card m-2">
    <div class="card-header">
      <div class='row'>
        <div class='col-6 LatestLaunches'>
          Most Popular Products
        </div>
        <div class='col-3'>

        </div>
        <div class='col-3 viewall'>
          <button class="btn btn-primary">View All</button>
        </div>
      </div>
    </div>
    <div class="card-body"> 
        <div class="card-deck">
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/k48rwcw0/television/c/h/f/sansui-24vnshds-original-imafn6w5adjrggx5.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
                 Sansui pro tv <br>
                  &#8377;5,999
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/k5r2mq80/air-conditioner-new/v/x/c/pc12db-1-portable-fixed-speed-blue-star-original-imafzcwhep8jenxu.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
                Inverter AC<br>
                &#8377; 25,000
               </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text"><img  src="https://rukminim1.flixcart.com/image/150/150/k4x2du80/speaker/mobile-tablet-speaker/c/z/f/jbl-flip-essential-original-imafnpuhahqwvwhw.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
               JBL<br>
                &#8377;4,799
            </div>
            </div>
            <div class="card ">
              <div class="card-body text-center">
                <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/juvjzbk0/air-cooler/c/n/8/acgc-dac881-crompton-original-imaffvv6nhq5ahms.jpeg?q=70" alt=""></p>
              </div>
              <div class="card-footer">
                Air Cooler <br>
                &#8377;7,598
            </div>
            </div>
             <div class="card">
                <div class="card">
                    <div class="card-body text-center">
                      <p class="card-text"><img src="https://rukminim1.flixcart.com/image/150/150/k12go7k0/trimmer/e/z/r/xxq01hm-mi-original-imafknhtkmezde6p.jpeg?q=70" alt=""></p>
                    </div>
                    <div class="card-footer">
                        MI trimmer <br>
                        &#8377;11,999
                    </div>
                  </div>
          </div>
    </div>
   
  </div>
    <!--End of Most Popular Products-->