<div class='row'>

    <div class="col-3">

    </div>
    <div class="col-6">
        <div class="jumbotron-fluid">
            <form #ref="ngForm" (ngSubmit)="register(ref.value);ref.reset()">
                <div class="row">
                        <div class="col-3"><label for="username">Enter username:</label></div>
                        <div class="col-9"><input type="email" name="username" id="" class="form-control" ngModel></div>
                </div>
                <div class="row">
                    <div class="col-3"><label for="password">Enter Password:</label></div>
                    <div class="col-9"><input type="password" name="password" id="" class="form-control" ngModel></div>
                </div>
                <div class="row">
                    <div class="col-3"><label for="name">Enter Name:</label></div>
                    <div class="col-9"><input type="text" name="name" id="" class="form-control" ngModel></div>
                </div>
                <div class="row">
                    <div class="col-3"><label for="phoneno">Enter Phone number:</label></div>
                    <div class="col-9"><input type="text" name="phoneno" id="" class="form-control" ngModel></div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

    </div>
</div>